@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --slide-margin-bottom: calc(16px - 1920px * .5 * 9 / (16 * 2) );
    --preview-scale: 0.3;
}

.slide{
    border: 1px solid black;
    width: 1920px;
    height: 1080px;
}

/* #slides-preview{
    transform-origin: top center;
    scale: 0.3;

} */

.slide-preview{
    border: 1px solid black;
    width: calc(1920px * var(--preview-scale));
    max-width: calc(1920px * var(--preview-scale));
    height: calc(1080px * var(--preview-scale));
    max-height: calc(1080px * var(--preview-scale));
    margin: 1rem 0;
    overflow: clip;
}



.slide-basic{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}